@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(245, 100%, 7%);
    --hover: hsl(208, 88%, 52%);
  }
}

@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100svh;
    background-color: var(--background);
    /* w-svw h-svh bg-background */
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}
