@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(245, 100%, 7%);
    --hover: hsl(208, 88%, 52%);
  }
}

@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100svh;
    background-color: hsl(245, 100%, 7%);
    background-image: url("/images/grainy.svg");
    background-blend-mode: overlay;
    background-size: cover;
    /* w-svw h-svh bg-background */
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}

@layer components {
  .footer-border {
    position: relative;
  }

  .footer-border::before {
    @apply absolute top-0 left-0 right-0 h-px; /* Ajuste la hauteur de la bordure */
    content: "";
    background: linear-gradient(
      to right,
      hsl(245, 100%, 7%),
      rgba(255, 255, 255, 1),
      hsl(245, 100%, 7%)
    );
  }
}
